<div id="search" class="row">
  <div class="large-10 large-centered columns">
    <form action="/" method="get">
      <div class="large-7 columns">
        <input type="text" placeholder="bug, documentation" name="label" id="label" value="<%=params["label"] %>"/>
        <a class="guide" href="/label-guide"> Label Guide </a>
      </div>
      <div class="large-3 columns">
        <input type="text" name="language" placeholder="ruby, javascript" id="language" value="<%=params["language"] %>" />
      </div>
      <div class="large-2 columns">
        <input class="button search large expand"type="submit" id="language" value="Find"></input>
      </div>
    </form>
  </div>
</div>
