<div id="label-guide">
  <div class="row">
    <div class="large-12 medium-12 columns">
      <h2>Label Guide</h2>

      <p>
      Finding an issue to work on, that's right for you, can be the hardest obstacle in being able to contribute to open source. A new codebase can be hard to get started with, even for experienced developers, let alone someone who is just starting. It's easier to pick up something small and trivial or work on a bit of documentation until understanding grows and there is more familiarity with a project.
      </p>

      <p>
      With labelling issues properly, you can help people get started!
      </p>

      <h4>Issue Type Labels</h4>
      <ul>
        <li>
        <span class="label help-wanted">help wanted</span> label promoted by Github for projects asking needing help
        </li>
        <li>
        <span class="label bug">bug</span> a reported or known error in the system
        </li>
        <li>
        <span class="label trivial">trivial</span> something too small to be a feature, that needs some functionality to be tweaked or added.
        </li>
        <li>
        <span class="label feature">feature</span> new functionality to be build
        </li>
        <li>
        <span class="label enhancement">enhancement</span> improving existing functionality
        </li>
        <li>
        <span class="label design">design</span> providing mockups, help building things interface related
        </li>
        <li>
        <span class="label documentation">documentation</span> trying out and explaining how things work
        </li>
        <li>
        <span class="label refactoring">refactoring</span> improving the code quality without changing functionality
        </li>
        <li>
        <span class="label tests">tests</span> adding test coverage
        </li>
        <li>
        <span class="label translation">translation</span> translating project in different languages - don't forget to provide <a href="https://github.com/andrew/24pullrequests/wiki/Adding-a-locale">a translation guide</a>
        </li>
        <li>
        <span class="label accessibility">accessibility</span> improving user interface for people with disabilities
        </li>
      </ul>

      <h4>Complimentary labels</h4>
      <p>
      Besides issue type labels, you can also use complimentary labels like <span class="label beginner">beginner</span> or <span class="label easy-pick">easy pick</span> to describe the level of domain knowledge required  or specific technologies like <span class="label html">html</span> who is not classed as a github language.
      </p>
    </div>
  </div>
  <div  class="labelling">
    <div  class="row">
      <div class="large-5 columns">
        <form action="/labels" method="post" >
          <div class="row">
            <% if current_user %>
              <div class="large-8 columns">
                <input name="project" type="text" placeholder="despo/issuehub.io">
              </div>
              <div class="large-4 columns">
                <button type="submit" class="button large expand">Create labels</button>
              </div>
            <% else %>
              <div class="large-12 columns">
                <h4 class="log-in-message">
                  <a href="/auth/github?scope=public_repo,repo">Login</a> to add the labels to your projects!
                </h4>
              </div>
            <% end %>
          </div>
        </form>
      </div>
      <% if @message %>
        <div class="large-6 columns">
          <h3 class="message"><%= @message %></h3>
        </div>
      <% end %>
    </div>
  </div>
</div>
