@media only screen and (max-width: 80em) {
  .fork-me img {
    display: none;
  }
 }

 @media only screen and (max-width: 64em) {
   .description {
     text-align: left;
 }

 .show-for-medium-up {
   display: none;
 }

 .sign-up {
   text-align: left;
 }
 }
